<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dodawanie studenta</title>
</head>
<body>

	<form th:action="@{'/student/studentDodany'}" action=""
		th:object="${student}" th:method="'post'">
		
		<fieldset>
		<legend>Wypełnij formularz</legend>
		
		<p>
			<label for="student-firstName">Imię:<br></label> <input type="text"
				id="student-firstName" th:field="*{firstName}">
		</p>
		<p>
			<label for="student-lastName">Nazwisko:<br></label> <input type="text"
				id="student-lastName" th:field="*{lastName}">
		</p>
		<p>
			
	<label for="student-phone">Telefon:<br></label> <input type="text"
			id="student-phone" maxlength="9" th:field="*{phone}">
		</p>
		<p>
			
		<label for="student-mail">Mail:<br></label> <input type="text"
			id="student-mail" th:field="*{mail}">
		</p>
		
		
			<label>Wybierz kurs:<br></label> 
			<div th:each="course: ${coursesList}">
			<input type="checkbox" th:name="coursesId" th:value="${course.id}">
			<span th:text="${course.name}"></span>
			</div> 
		
		<p>
		<label for="city">Miasto<br></label> 
		<select id="city" th:field="*{city}">
			<option th:each="city: ${cities}" th:value="${city}"
				th:text="${city.label}"></option>
		</select>
		</p>
		<p><label for="mod">Tryb<br></label> 
		<select id="mod" th:field="*{typmode}">
			<option th:each="m: ${modes}" th:value="${m}"
				th:text="${m.label}"></option>
		</select>
		</p>
		
		<input type="submit" value="Zapisz"></input>
		</fieldset>
		</form>
</body>
</html>