<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<p th:if="${deleteStudent}">
		Usunięto studenta <br>
		<span th:text="${deletedStudent.firstName}"> </span><br> 
		<span th:text="${deletedStudent.lastName}"></span> <br>
	</p>
<form th:action="@{'/student/usuwanie'}" action=""
		th:object="${student}" th:method="'post'">
		
		<fieldset>
		<legend>Znajdz studenta</legend>
		
		
			<label>Imię:<br></label> 
			<div th:each="student: ${studentList}">
			<input type="checkbox" th:field="*{firstName}" th:value="${student.id}">
			<span th:text="${student.firstName}"></span>
			</div>
		
		<input type="submit" value="Zapisz"></input>
		</fieldset>
		</form>

</body>
</html>