<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dodawanie kursów</title>
</head>
<body>
	

	<form th:action="@{'/kurs/kursDodany'}" action="" th:object="${course}"
		th:method="'post'">
		<fieldset>
			<legend>Wypełnij formularz</legend>

			<p>
			<label for="course-name">Nazwa kursu:</label> <input type="text"
				id="course-name" th:field="*{name}"> 
				</p>
				<p>
				<label for="city">Miasto:</label>
			<select id="city" th:field="*{cities}">
				<option th:each="city: ${cities}" th:value="${city}"
					th:text="${city.label}"></option>
			</select> </p>
			
			<p>
			<label for="mod">Tryb:</label> <select id="mod" th:field="*{typmod}">
				<option th:each="m: ${modes}" th:value="${m}" th:text="${m.label}"></option>
			</select> </p>
			
			<p>
			<label for="startDate">Data rozpoczęcia:</label> <input
				id="startDate" type="date" th:field="*{startDate}"> </p>
				
				<p>
				<label for="endDate">Data zakończenia:</label> <input id="endDate"
				type="date" th:field="*{endDate}"> </p>
				
				<p>
				<label for="price">Cena:</label>
			<input id="price" type="number" th:field="*{price}"> </p>
			<p>
			
			<p>
				<label for="teacher">Prowadzący:</label><select id="teacher" th:field="*{employees}">
				<option th:each="t: ${teacherList}" th:value="${t.id}" th:text="${t.firstName} + ' ' + ${t.lastName}"></option>
			</select> </p>
			
			<p>
			<input type="submit" value="Zapisz"></input></p>
		</fieldset>
	</form>
</body>
</html>