<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dodawanie kursów</title>
</head>
<body>
	<p th:if="${createdCourse}">
		Dodano kurs <span th:text="${createdCourse.name}"></span> w mieście <span
			th:text="${createdCourse.cities.label}"></span>
	</p>
	
	<form th:action="@{'/kurs/dodaj'}" action="" th:object="${course}"
		th:method="'post'">
		
		<label for="course-name">Nazwa kursu</label> <input type="text"
			id="course-name" th:field="*{name}"> 
			
		<label for="city">Miasto</label>
		<select id="city" th:field="*{cities}">
			<option th:each="city: ${cities}" th:value="${city}"
				th:text="${city.label}"></option></select> 
				
		<input type="submit" value="Zapisz"></input>

	</form>
</body>
</html>