<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<p th:if="${createdCourse}"> Dodano kurs 
	<span th:text="${createdCourse.name}"></span> w mieście 
	<span th:text="${createdCourse.cities.label}"></span>.</p> 
	<p>
	Tryb: 
	<span th:text="${createdCourse.typmod.label}"></span></p> 
	<p>Rozpoczęcie kursu:  
	<span th:text="${createdCourse.startDate}"></span></p>
	<p>Zakończenie kursu: 
	<span th:text="${createdCourse.endDate}"></span></p> 
	<p>Cena: 
	<span th:text="${createdCourse.price}"></span></p>

</body>
</html>